
:root {

/* Colors: */
--color-FFFFFF: #FFFFFF;
--color-028C96: #028C96;
--color-F8AE37: #F8AE37;
--color-A10035: #A10035;
--color-2A0944: #2A0944;
--color-515869: #515869;
--color-8F95A6: #8F95A6;
--color-EEF0F5: #EEF0F5;
--color-F7F9FF: #F7F9FF;
--color-1A0A26: #1A0A26;


/* Font/text values */
--font-family-Metropolis: 'Metropolis';
--font-weight-300: 300;
--font-weight-400: 400;
--font-weight-500: 500;
--font-weight-600: 600;
--font-weight-700: 700;
--font-weight-900: 900;
--font-size-12: 12px;
--font-size-14: 14px;
--font-size-16: 16px;
--font-size-18: 18px;
--font-size-24: 24px;
--line-height-12: 12px;
--line-height-14: 14px;
--line-height-16: 16px;
--line-height-18: 18px;
--line-height-20: 20px;
--line-height-24: 24px;
}

/* basic style */
html{
    scroll-behavior: smooth;
}
body{
   font-family: var(--font-family-Metropolis);
   font-weight: var(--font-weight);
   position: relative;
   color: var(--color-1A0A26);
   background: var(--color-F7F9FF ) ;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
a{
    display: inline-block;
    transition: all ease .6s;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
small{
    display: inline-block;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
/* media style */
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1830px;
}

/* scrol bar style */
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A0A26; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #028C96; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #028C96; 
}
/* ----------------------------------------------
                    header start
---------------------------------------------- */
header {
    padding: 17px 0;
    z-index: 999999;
    background: #fff;
}
header .header-inner {}
header .header-inner .item-left{}
header .header-inner .item-left a{}
header .header-inner .item-left a img{}
header .header-inner .header-right{}
header .header-inner .header-right .dropdown{}
header .header-inner .header-right .dropdown button:focus{
    box-shadow: none;
    border: 0;
}
header .header-inner .header-right .dropdown button{
    padding: 0;
    border: 0;
}
header .header-inner .header-right .dropdown button img{}
header .header-inner .header-right .dropdown button img.user-img{
    width: 46px;
    height: 46px;
    border: 5px solid #EBEBEB;
    background: #EBEBEB;
    border-radius: 50%;

}
header .header-inner .header-right .dropdown button img.dot3-icon{
    margin-left: 19.17px;
}
header .header-inner .header-right .dropdown ul.dropdown-menu{
    text-align: center;
}
header .header-inner .header-right .dropdown ul.dropdown-menu li{}
header .header-inner .header-right .dropdown ul.dropdown-menu li a{}
header .header-inner .header-right .dropdown ul.dropdown-menu li a.dropdown-item{}
header .header-inner .header-right{}
header .dropdown-toggle::after{
    display: none;
}


/* ----------------------------------------------
                   header  end
---------------------------------------------- */
.wrapper{
    position: relative;
}
.wrapper .left-sidebar {
    background: #1A0A26;
    width: 230px;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 96px;
}
.wrapper .left-sidebar .main-left-menu{}
.wrapper .left-sidebar .main-left-menu li {}
.wrapper .left-sidebar .main-left-menu li a{
    font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
font-size: var(--font-size-16);
line-height: var(--line-height-16);
color: var(--color-FFFFFF);
padding: 16px 25px;
display: block;
transition: all ease .6s;
}
.wrapper .left-sidebar .main-left-menu li a:hover{
    background: #028C96;
    transition: all ease .6s;
}
.wrapper .left-sidebar .main-left-menu li a span {
    display: inline-block;
    vertical-align: middle;
}
.wrapper .left-sidebar .main-left-menu li a img{
    width: 20px;
    margin-right: 15px;
    vertical-align: middle;
}
.wrapper .left-sidebar .menu-bottom {
    text-align: center;
    padding: 20px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a0a26;
}
.wrapper .left-sidebar .menu-bottom a{
font-style: normal;
font-weight: 600;
font-size: var(--font-size-16);
line-height: var(--line-height-16);
color: var(--color-FFFFFF);
vertical-align: middle;
}
.wrapper .left-sidebar .menu-bottom a img{
    vertical-align: middle;
    margin-right: 15px;
}
.wrapper .left-sidebar .menu-bottom a span{
    vertical-align: middle;
    display: inline-block;
}

/* ----------------------------------------------
                    main content start
---------------------------------------------- */
.wrapper .main-content{
    padding-left: 250px;
    padding-top: 100px;
    padding-right: 22px;
}

/* ----------------------------------------------
                   main content  end
---------------------------------------------- */



/* ----------------------------------------------
                    welcome-user start
---------------------------------------------- */
.welcome-user{
    padding-bottom: 30px;
}
.welcome-user .media{}
.welcome-user .media img {
    border: 5px solid #EBEBEB;
    background: #EBEBEB;
    border-radius: 50%;
    width: 94px;
    height: 94px;
}
.welcome-user .media .media-body{
    margin-left: 15px;
}
.welcome-user .media .media-body h4{
font-weight: var(--font-weight-700);
font-size: var(--font-size-24);
line-height: var(--line-height-24);

color: var(--color-1A0A26);
}
.welcome-user .media .media-body p{
font-weight: var(--font-weight-500);
font-size: var(--font-size-16);
line-height: var(--line-height-16);
color: var(--color-515869);
}
.welcome-user .media .media-body p:last-child{
    margin-bottom: 0;
}
.welcome-user .right-side-dropdown {}
.welcome-user .right-side-dropdown .dropdown{
    text-align: center;
}
.welcome-user .right-side-dropdown .dropdown button{
    background: var(--color-FFFFFF);
border: 1px solid var(--color-EEF0F5);
border-radius: 5px;
font-weight: var(--font-weight-500);
font-size: var(--font-size-14); 
line-height: var(--line-height-14);
color: var(--color-515869);
}
.welcome-user .right-side-dropdown .dropdown button span{}
.welcome-user .right-side-dropdown .dropdown-menu{}
.welcome-user .right-side-dropdown .dropdown-menu li{
    text-align: center;
}
.welcome-user .right-side-dropdown .dropdown-menu li a{}

/* ----------------------------------------------
                    welcome-user end
---------------------------------------------- */



/* ----------------------------------------------
                    overview start
---------------------------------------------- */

.overview {}
.overview .item{
    padding: 39px 20px;
    background: var(--color-FFFFFF);
border: 1px solid var(--color-EEF0F5);
border-radius: 10px;
}
.overview .item h4{
font-weight: var(--font-weight-500);
font-size: var(--font-size-16);
line-height: var(--line-height-16);
color: var(--color-515869);
margin-bottom: 20px;
}
.overview .item h2{
    font-weight: var(--font-weight-700);
font-size: var(--font-size-26);
line-height: var(--line-height-26);
color: #1A0A26;
margin-bottom: 0;
}

/* ----------------------------------------------
                    overview end
---------------------------------------------- */



/* ----------------------------------------------
                 rounded check box    start
---------------------------------------------- */
.round {
  position: relative;
   transition: all ease .6s;
}

.round label {
  background-color: #fff;
  border: 2px solid #028C96;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
  transition: all ease .6s;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 11px;
    transition: all ease .6s;
}

.round input[type="checkbox"] {
  visibility: hidden;
   transition: all ease .6s;
}

.round input[type="checkbox"]:checked + label {
  background-color: #028C96;
  border-color: #028C96;
   transition: all ease .6s;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
   transition: all ease .6s;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}



/* ----------------------------------------------
                    rounded check box  end
---------------------------------------------- */



/* ----------------------------------------------
                   tasks  start
---------------------------------------------- */

.tasks {
    padding: 20px 0;
}
.tasks .task-left{
    border: 1px solid #EEF0F5;
    border-radius: 10px;
    background: #fff;
}
.tasks .task-left .tast-top {
    padding: 15px 20px;
    border-bottom: 1px solid #EEF0F5;
}
.tasks .task-left .tast-top .item-left{}
.tasks .task-left .tast-top .item-left h4{
     font-weight: var(--font-weight-700);
font-size: var(--font-size-18);
line-height: var(--line-height-18);
color: var(--color-1A0A26);
margin-bottom: 0;
}
.tasks .task-left .tast-top .item-right{}
.tasks .task-left .tast-top .item-right form {
    width: 192px;
    position: relative;
    
}
.tasks .task-left .tast-top .item-right form input {
    border: 1px solid #EEF0F5;
    border-radius: 5px;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: var(--line-height-14);
    color: var(--color-8F95A6);
    padding: 11px 11px 11px 34px;
}
.tasks .task-left .tast-top .item-right form input:focus{
    box-shadow: none;
}
.tasks .task-left .tast-top .item-right form button{
    background: transparent;
    padding: 0;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 14px;
}

.tasks .tasks-wrpper-left{}
.tasks .tasks-wrpper-left .item {
    padding: 20px;
    border: 1px solid #EEF0F5;
    border-top: 0;
}


.tasks .tasks-wrpper-left .item .item-left{}
.tasks .tasks-wrpper-left .item .item-left .media{}
.tasks .tasks-wrpper-left .item .item-left .media .round{}
.tasks .tasks-wrpper-left .item .item-left .media .round input{}
.tasks .tasks-wrpper-left .item .item-left .media .round label{}
.tasks .tasks-wrpper-left .item .item-left .media .media-body{
    margin-left: 19px;
}
.tasks .tasks-wrpper-left .item .item-left .media .media-body h4{
    font-weight: var(--font-weight-600);
font-size: var(--font-size-16);
line-height: var(--line-height-16);
color: var(--color-1A0A26);
margin-bottom: 10px;

}
.tasks .tasks-wrpper-left .item .item-left .media .media-body p{
   font-weight: var(--font-weight-500);
font-size: var(--font-size-14);
line-height: var(--line-height-14);
color: var(--color-515869);
margin-bottom: 10px;
margin-bottom: 0;
}
.tasks .tasks-wrpper-left .item .item-right{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center p{
       font-weight: var(--font-weight-500);
font-size: var(--font-size-14);
line-height: var(--line-height-14);
color: var(--color-A10035);
margin-right: 5px;
margin-bottom: 0;
}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center button {
    padding: 0 9.1px 4.75px 9.1px;
    text-align: center;
    line-height: 1.5;
    background: transparent;
    border: 0;
}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center button img{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center .dropdown-menu{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center .dropdown-menu li{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center .dropdown-menu li a.dropdown-item{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-center .dropdown-menu{}
.tasks .tasks-wrpper-left .item .item-right .dropdown-toggle::after{
    display: none;
}

.tasks .Events{
        border: 1px solid #EEF0F5;
    border-radius: 10px;
    background: #fff;
}
.tasks .Events .events-top {
    padding: 24px 20px;
    border-bottom: 1px solid #EEF0F5;
}
.tasks .Events .events-top h4{
        font-weight: var(--font-weight-700);
    font-size: var(--font-size-18);
    line-height: var(--line-height-18);
    color: var(--color-1A0A26);
    margin-bottom: 0;
}
.tasks .Events .item:last-child{
    padding-bottom: 13px;
}
.tasks .Events .item{
        padding: 15px 20px 20px 20px;
    border: 1px solid #EEF0F5;
    border-top: 0;
}
.tasks .Events .item h6 {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-12);
    line-height: var(--line-height-12);
    color: var(--color-8F95A6);
    margin-bottom: 15px;
}
.tasks .Events .item .media{}
.tasks .Events .item .media .media-body {
    padding-left: 10px;
}
.tasks .Events .item .media .media-body h3{
    font-weight: var(--font-weight-600);
    font-size: var(--font-size-14);
    line-height: var(--line-height-14);
    color: var(--color-1A0A26);
    margin-bottom: 10px;
}
.tasks .Events .item .media .media-body p{
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-12);
    line-height: var(--line-height-12);
    color: var(--color-8F95A6);
    margin-bottom: 0;
}
.tasks .Events .item .media h5{
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-12);
    line-height: var(--line-height-12);
    color: var(--color-8F95A6);
    margin-bottom: 0;
}
.tasks .Events{}
.tasks {}
.tasks {}
.tasks {}
.tasks {}
.tasks {}
.tasks {}
.tasks {}
.tasks {}



/* ----------------------------------------------
                  tasks   end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */



/* ----------------------------------------------
                     start
---------------------------------------------- */





/* ----------------------------------------------
                     end
---------------------------------------------- */

